{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECI - Ministere | Profile</title>
    <link rel="stylesheet" href="{% static 'css/profilpeople.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <h1><a href="{% url 'home' %}">ECI</a></h1>
        <ul>
            <li><a href="{% url 'home' %}">Acceuil</a></li>
            <li><a class="active" href="{% url 'about' %}">A propos</a></li>
            {% if user.is_authenticated %}
                <li><a class="active" href="{% url 'demandelist' %}">Mes demandes</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            {% else %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <a href="{% url "profile_view" %}" class="connected active">{{ person.user.email }}</a>
        {% else %}
            <a href="{% url 'login' %}" class="login">Se connecter</a>
        {% endif %}
    </nav>

    <!-- Container -->
     <div class="container">
        <!-- Navigation à gauche -->
        <div class="left-nav">
            <div class="nav-link-middle">
                <a href="{% url "profile_view" %}" class="link-setting active">Informations personnelles</a>
                <a href="{% url "notification" %}" class="link-setting">Notifications <div class="counter">
                    <p>2</p>
                </div></a>
                <a href="{% url "logout" %}" class="link-setting red">Se déconnecter</a>
            </div>
        </div>
        <!-- Information de l'utilisateur -->
        <div class="right-container">
            <div class="descript-user">
                <div class="profil-image"></div>
                <div class="description">
                    <h2>{{person.user.first_name}} {{person.user.last_name}}</h2>
                    <p>{{person.user.email}}</p>
                </div>
            </div>
            <div class="info-user">
                <h2>Information personnelle</h2>
                <form action="{% url "edit_profile" %}" method="post">
                    {% csrf_token %}
                    <div class="inputs">
                        <div class="input">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" id="nom" placeholder="nom" value="{{person.user.last_name}}">
                        </div>
                        <div class="input">
                            <label for="prenom">Prénoms</label>
                            <input type="text" name="prenom" id="prenom" placeholder="prénoms" value="{{person.user.first_name}}">
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="input">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="email" value="{{person.user.email}}">
                        </div>
                        <div class="input">
                            <label for="tel">Numéro de téléphone</label>
                            <input type="text" name="tel" id="tel" placeholder="ex: 0704043029" value="{{person.indicatorPeople}}{{person.numberPeople}}">
                        </div>
                    </div>
                    <div class="input">
                        <label for="adresse">Adresse géographique - lieu de naissance</label>
                        <input type="text" name="adresse" id="adresse" placeholder="Adresse géographique" value="{{person.addressPeople}}">
                    </div>
                    <button type="submit">Modifier</button>
                </form>
            </div>
        </div>
     </div>

    <!-- Footer -->
    <footer>
        <h1>ECI</h1>
        <ul>
            <li><a href="{% url 'home' %}">Acceuil</a></li>
            <li><a href="{% url 'about' %}">A propos</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="sized"></div>
        <p>2025 Copyright - alright reserved</p>
    </footer>
</body>
</html>
