:root{
    --primary-dark-blue-color: #00385F;
    --secondary-dark-blue-color: #00192A;
    --primary-white-color: #FFF;
    --primary-light-blue-color: #0083dd;
    --primary-black-color: #000000;
    --paragraph-text-color: #7D7D7D;
    --footer-color: #00192A;
    --gray-text-color: #F7F7F7;
    --dark-blur-effect-color: #D7DBDB;
    --opacity-light-blue-color: rgba(0, 131, 221, 0.25);

    --font-size-xxxxl: 6rem;
    --font-size-xxl: 2.5rem;
    --font-size-xl: 2rem;
    --font-size-lg: 1.5rem;
    --font-size-md: 1.2rem;
    --font-size-sm: 1rem;
    --font-size-xs: 0.8rem;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-sticky: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

/* ECI banner */
.eci{
    flex: 2;
    background: linear-gradient(0deg, var(--primary-dark-blue-color), var(--primary-light-blue-color));
    display: flex;
    justify-content: center;
    align-items: center;
}
.eci h1{
    font-size: var(--font-size-xxxxl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--primary-white-color);
}
.form{
    flex: 3;
    padding: clamp(1.25rem,4vw,5.4375rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form .title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form .title h2{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--primary-dark-blue-color);
}
.form .title a{
    width: 150px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px ;
    border-radius: 20px;
    color: var(--primary-light-blue-color);
    border: 2px solid var(--primary-light-blue-color);
    transition: all 0.1s ease-in-out;
}
.form .title a:hover{
    background-color: var(--primary-light-blue-color);
    color: var(--primary-white-color);
}
.form form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form form .inputs{
    width: 100%;
    display: flex;
    gap: 30px;
}
.form form input{
    width: 100%;
    height: 40px;
    padding: 1.25rem;
    border-radius: 10px;
    border: 1px solid var(--dark-blur-effect-color);
    color: var(--paragraph-text-color);
    outline: none;
    transition: all 0.1s ease-in-out;
}
.form form input:hover,
.form form input:focus{
    border: 1px solid var(--primary-light-blue-color);
    color: var(--primary-black-color);
}
.form form button{
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-white-color);
    font-weight: var(--font-weight-semi-bold);
    background-color: var(--primary-dark-blue-color);
    border: none;
}
.form form .separate{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}
.form form .separate .sized{
    width: 100%;
    height: 3px;
    background-color: var(--dark-blur-effect-color);
}
.form form .separate p{
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    color: var(--paragraph-text-color);
}
.form form .inputs a{
    width: 100%;
    height: 45px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark-blur-effect-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--primary-black-color);
}
.form .return a{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--paragraph-text-color);
    transition: all 0.1s ease;
    cursor: pointer;
    text-decoration: none;
}
.form .return a:hover{
    color: var(--primary-dark-blue-color);
}
